---
---

<footer
  class="w-full h-12 flex justify-between items-center px-6 z-40 bg-[#0e0e0e] border-t border-outline-variant/10"
>
  <div class="flex items-center gap-8">
    <span
      class="text-primary-container font-mono text-[10px] tracking-tight uppercase"
      >&copy; 2026 HETHAV VATHUL</span
    >
    <div class="hidden md:flex gap-6">
      <span
        class="text-gray-600 font-mono text-[10px] tracking-tight hover:text-white transition-opacity cursor-pointer"
        >LAST_COMMIT: 7f3a2d</span
      >
      <span
        class="text-gray-600 font-mono text-[10px] tracking-tight hover:text-white transition-opacity cursor-pointer"
        >STATUS: ONLINE</span
      >
      <span
        class="text-gray-600 font-mono text-[10px] tracking-tight hover:text-white transition-opacity cursor-pointer uppercase"
        >ENCRYPTED</span
      >
    </div>
  </div>
  <div class="flex items-center gap-4 text-gray-600 font-mono text-[10px]">
    <span class="material-symbols-outlined text-[12px]">cloud_done</span>
  </div>
</footer>
